@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;700&display=swap');

* {
    font-family: 'Mitr', sans-serif;
    letter-spacing: 1px;
    
}

.body {
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.text-center {
    font-size: 48px;
    letter-spacing: 4px;
}
.card__two {
    float: left;
    margin-right: 15px;
}


.card__one {
    float: right;
    margin-right: 50px;
}

.img__two {
    height: 50vh;
    padding: 10px;
    width: 70vh;

}
.img__one {
    height: 50vh;
    padding: 10px;
}
.img__one:hover, .img__two:hover{
    animation: bounce 2s linear;
}
@keyframes bounce{
    20%,50%,80%,to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-15px);
    }
}

.your__bets {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.amount {
    font-size: 20px;  
}
.button {
    color: black;
    background-color: white;
    border: none;
    border-radius: 10px;
    height: 35px;
    margin-bottom: 7px;
    width: 75px;
}
.button:hover {
    color: white;
    background-color: black;
}
.col__one {
    font-size: 24px;
    letter-spacing: 2px;
}
.col__two {
    font-size: 24px;
    letter-spacing: 2px;
}
